.top-bar {
  height: 43px;
  background-color: #0a2f5d;
  color: #fff;
  position: relative;

  h1 {
    display: inline-block;
      line-height: 43px;
      margin-left: 47px;
      font-size: 15px;
  }
  .main-menu, .settings-btn, .notifications-btn {
    width: 43px;
    height: 43px;      
    background-size: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .settings-btn {
    background: url(../images/settings_icon.png) no-repeat center;
    background-size: 50%;
    right: 52px;
    left: inherit;
  }
  .notifications-btn {
    background: url(../images/alarm_icon.png) no-repeat center;
    background-size: 50%;
    right: 12px;
    left: inherit;

    span {
      font-size: 10px;
        background: red;
        padding: 2px;
        border: 1px solid #fff;
        border-radius: 20px;
        display: inline-block;
        margin-left: 22px;
        margin-top: 6px;
    }
  }
}