.top-bar {
  height: 43px;
  background-color: #0a2f5d;
  color: #fff;
  position: relative;

  h1 {
    display: inline-block;
    line-height: 43px;
    margin-left: 47px;
    font-size: 14px;
    font-weight: 400;      
  }
  .alerts h1 {
    display: block;
    text-align: center;
    margin-left: 0;
  }  
  .main-menu, .settings-btn, .notifications-btn, .alerts-back {
    width: 43px;
    height: 43px;      
    background-size: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .settings-btn {
    background: url(../images/settings_icon.png) no-repeat center;
    background-size: 50%;
    right: 52px;
    left: inherit;
  }
  .notifications-btn {
    background: url(../images/alarm_icon.png) no-repeat center;
    background-size: 50%;
    right: 12px;
    left: inherit;

    span {
      font-size: 10px;
        background: red;
        padding: 2px;
        border: 1px solid #fff;
        border-radius: 20px;
        display: inline-block;
        margin-left: 22px;
        margin-top: 6px;
        color: #fff;
    }
  }

.alerts-back {
    background: url(../images/arrow_left_white.png) no-repeat center;
    background-size: 25%;
    left: 0;
  }
}
.configure-btns-wrapper {
}
.configure-btns-hldr {
  padding: 10px 20px 32px 20px;
  border-bottom: 1px solid rgba(50, 128, 169, 0.3);
  position: relative;
}
.configure-btns-hldr h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #0a2f5d;
}
.configure-btns-hldr .save-btn, .configure-btns-hldr .done-btn {
  position: absolute;
  top: 0;
  padding: 12px;
  font-size: 12px;
  font-weight: 300;
}

.configure-btns-hldr .save-btn span, .configure-btns-hldr .done-btn span {
  color: #727272;
}

.configure-btns-hldr .save-btn {
  left: 0;
}
.configure-btns-hldr .done-btn {
  right: 0;
}