.light-bg {
	background: #f0f0f0;
}
.block {
	position: relative;
}
.main-content {
	position: relative;
    height: calc(100% - 32px);
	.overflow-vertical {
	    /*width: 97%;
	    padding: 1.5%;*/
	    height: 100%;
	    overflow-y: auto;
		ul.events {
			li {
				background: #fff url(../images/chevron_sm.png) no-repeat;
			    background-size: 8px;
			    background-position: right 18px center;
				padding: 10px;
				margin-bottom: 10px;
				border: 1px solid rgba(50, 128, 169, 0.3);
				position: relative;

				.event-label {
					display: inline-block;
				    font-size: 12px;
				    text-transform: uppercase;
				    color: #0a2f5d;
				    padding: 10px 10px 10px 35px;
				    margin-bottom: 10px;
				    position: relative;
				}
				.pod-bg-image {
				    display: block;
				    position: absolute;
				    top: 13px;
				    left: 10px;
				    width: 25px;
				    height: 25px;
				    background: url(../images/calendar_icon.png);
					background-size: cover;
				}
				.event-title {
					font-size: 14px;
				    padding-bottom: 20px;
					margin-bottom: 15px;
				    color: #000;
					border-bottom: 1px solid rgba(50, 128, 169, 0.3);
					padding-right: 25px;
				}
				.post-name {
					font-size: 12px;
				    color: #727272;
				    margin-bottom: 5px;
				}
				.event-date {
					font-size: 12px;
				    color: #2c9dc0;
				    position: absolute;
				    right: 10px;
				    top: 20px;
				}
				.register-btn	 {
				    position: absolute;
				    right: 10px;
				    bottom: 5px;
					p {
						font-size: 12px;
					    color: #0a2f5d;
						position: relative;
						padding: 10px 0;
					    padding-left: 28px;
					}				    
				}
				.register-btn .p-before, .register-btn.active .p-before {
				    display: block;
				    position: absolute;
				    top: 3px;
				    left: 0;
				    width: 25px;
				    height: 23px;
				    background: url(../images/register_icon.png);
					background-size: cover;
				}
				.register-btn.active p {
					padding-left: 30px;
					color: #5ca011;
				}
				.register-btn.active .p-before {
					width: 27px;
				    height: 26px;
				    background: url(../images/register_active_icon.png);
					background-size: cover;
				}				
			}
			li:last-child {
				margin-bottom: 0;
			}			
		}	    
	}	
}

